/* Omega text styles */

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  color: #4D4D4D;
}

a:link, a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: #000;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5 {
	font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #3E3E29;
}

h1 {
   font-size: 1.6em;
   line-height: 1.2em;
   margin-top: 1em !important
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 1.2em;
  margin: 0;
}

h2 {
   border-top: 1px solid #C0C0C0;
   font-size: 1.3em;
   margin-top: 1.2em !important;
   padding-top: 0.8em;
}

h3 {
    font-size: 1.2em;
    }

h4 {
   font-size: 1em;
    }

h5 {
   font-size: 1em;
}

h6 {
   font-size: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul,
ol ol {
  padding-top: 0.5em;
}

.node ol,
.node ul {
  padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
}

/* div.views-summary is the toc in the first column */

p, div.views-summary, .block-menu {
 font-size: 0.9em !important;
 margin-top:0.5em;
}


dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}

.region-sidebar-first .region-inner,
.region-sidebar-second .region-inner {

  }
  
/* Previous and Next */

span#prev, span#next, span#prev-unavailable, span#next-unavailable
{
 font-size: 10px; 
}

span#prev-unavailable, span#next-unavailable {
   text-decoration:none;
   border:1px solid #cacaca;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#F4FBFC;
   color:#3E3E29 !important;
}

#prev a, #prev a:visited, #next a, #next a:visited {
   text-decoration:none;
   border:1px solid  #A1A1A1;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#DBF3F7;
   color: black !important;
   font-weight: bold;
}

#prev a:hover, #next a:hover {
   background: #784097;
   border:1px solid #A1A1A1;
   color:white !important;
}

p.header, .view-content h3 {
  font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.6em !important;
  margin-bottom: 0px;/* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
  padding-bottom: 0.8em;
  border-bottom:1px solid #C0C0C0;

}

a.flag-action:link, a.flag-action:visited, a.flag {
  text-decoration: none;
}
