/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
body {
	background: url(../images/faux-columns-960-body.png) repeat-y 50% 0;
	}
	#zone-user-wrapper {
			background: url(../images/faux-columns-960-user.png) repeat-y 50% 0;
			}
	#zone-branding-wrapper {
			background: url(../images/faux-columns-960-branding.png) repeat-y 50% 0;
			}
	#zone-menu-wrapper {
			background: url(../images/faux-columns-960-menu.png) repeat-y 50% 0;
			}
	#zone-header-wrapper {
			background: url(../images/faux-columns-960-page.png) repeat-y 50% 0;
			}
	#zone-preface-wrapper {
			background: url(../images/faux-columns-960-page.png) repeat-y 50% 0;
			}
	#zone-content-wrapper, .section .zone-wrapper  {
			background: url(../images/faux-columns-960-page.png) repeat-y 50% 0;
			}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 10px;
					padding: 10pt;
					font-size: 1.0em;
					font-size: 1.1em;
					line-height: 1.3em;
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 0px;
					padding-bottom: 10px;
					padding-left: 10px;					
					font-size: 1.0em;
					line-height: 1.2em;
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					font-size: 1.0em;
					line-height: 1.2em;
					}

	#zone-postscript-wrapper {
			background: url(../images/faux-columns-960-page.png) repeat-y 50% 0;
			}
	#zone-footer-wrapper {
			background: url(../images/faux-columns-960-footer.png) repeat-y 50% 0;
			}
.flag-action:before {
content: url(../images/pin-medium.png);
}
.unflag-action:before {
content: url(../images/unpin-medium.png);
}